body{
    padding-left: 100px; 
    padding-top: 20px;
   
    background-color: #8C8C8C;
}
#f1{
    width: 320px; 
    padding: 10px; 
    border: 5px solid gray; 
    margin: 0px; 
    background-color: #B7A9A1;
}

footer{
    text-align: center;
    padding: 3px; 
    font-size: 15px;
    color: #100110; 
}