#form1{
    width: 320px; 
    padding: 10px; 
    border: 5px solid gray; 
    margin: 0px; 
    background-color: #B7A9A1;
    background-color: #F2BC94;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}